.hidden {
  display: none;
}
* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  background-size: cover;
  font-family: Arial;
  color: white;
  text-align: center;
  margin: 100px;
}

#clock {
  font-size: 50px;
  font-weight: bold;
}

button {
  background-color: white;
  color: black;
}

form {
  width: 100%;
}

input::placeholder {
  opacity: 0.9;
}

#user-info {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

#user-info input {
  width: 30%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

#user-info button {
  cursor: pointer;
  width: 15%;
  padding: 10px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: black;
  cursor: pointer;
}

#todo-form-div {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

#todo-form-div input {
  text-align: center;
  display: block;
  margin: 30px auto;
  background-color: white;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60%;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
  color: black;
}

#todo-form-div ul {
  width: 60%;
  text-align: center;
  margin: 30px auto;
  display: block;
  list-style: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.9);
  border-top: 3px solid rgba(255, 255, 255, 0.9);
  background-color: white;
  border-radius: 20px;
  opacity: 0.8;
}

#todo-form-div li {
  padding: 5px 0px 5px 5px;
  margin-bottom: 5px;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

#todo-form-div button {
  background-color: transparent;
  border: 0px;
}

#clock {
  font-size: 40;
}

#greeting {
  font-size: 40px;
  color: white;
}

#quote {
  background-color: white;
  color: black;
  opacity: 0.8;
  font-size: 20px;
  display: block;
}

#quote span {
  display: block;
  margin-top: 10px;
}

#weather {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  max-width: 200px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px auto;
  display: block;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
